In [14]:
n=int(input())
for i in range(1,n+1):
    for i in range(1,4):
        print(n,end=' ')
    print()

6 6 6
6 6 6
6 6 6
6 6 6
6 6 6
6 6 6

In [30]:
n=int(input())
for i in range(1,n+1):
    for _ in range(1,6):
        print(i,end=' ')
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5
6 6 6 6 6

In [31]:
n=int(input())
for i in range(1,11):
    print(n,'+',i,'=',n+i)

5 + 1 = 6
5 + 2 = 7
5 + 3 = 8
5 + 4 = 9
5 + 5 = 10
5 + 6 = 11
5 + 7 = 12
5 + 8 = 13
5 + 9 = 14
5 + 10 = 15

In [55]:
n=int(input())
for i in range(1,n+1):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999
10101010101010101010
1111111111111111111111

In [16]:
def print_numerical_triangle(n):
    num = 1
    for i in range(1, n + 1):
        for j in range(i):
            print(num, end=" ")
            num += 1
        print()

# Пример использования:
n = int(input("Введите высоту треугольника: "))
print_numerical_triangle(n)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28

In [20]:
n=int(input())
num=1
for i in range(1,n+1):
    for j in range(i):
        print(num,end=' ')
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [21]:
def print_isosceles_triangle(n):
    # Верхняя часть треугольника
    for i in range(1, n + 1, 2):
        print("*" * i)

    # Нижняя часть треугольника
    for i in range(n - 2, 0, -2):
        print("*" * i)

# Пример использования:
n = int(input("Введите нечетное натуральное число: "))
print_isosceles_triangle(n)

*
***
*****
*******
******
****
**

In [28]:
n=int(input())
num=1
for i in range(1,n+1):
    for j in range(1,i,2):

2
3
4
4
5
5
6
6
6